# Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=chicago_taxi
DB_USER=chicago_user
DB_PASSWORD=chicago_pass

# API
API_HOST=0.0.0.0
API_PORT=8000

# Dashboard
DASHBOARD_PORT=8501

# DADOS
DATA_URL=https://data.cityofchicago.org/resources/ajtu-isnz.json
 
